streamlit
folium
streamlit-folium
requests
numpy
opencv-python-headless
rasterio
tensorflow
segmentation-models
matplotlib
seaborn
pillow
pandas
git+https://github.com/qubvel/segmentation_models.git

